@import "animate";
.gallery-editor {
  border: 2px dashed #007cba; /* Farbe und Stil der Border */
  padding: 15px; /* Abstand innerhalb des Blocks */
  margin: 10px 0; /* Abstand zu anderen Elementen */
  border-radius: 5px; /* Abgerundete Ecken */
  background-color: #f9f9f9; /* Optionaler Hintergrund */


}

.gallery-sidebar {
  .breakpoint-headline {
    font-weight: 600!important;
    font-size: 14px;
    margin: 1rem 0 .5rem;
  }

  .components-flex-item {
    width: 100%;
  }
}